.story_list {
    padding: 0 1em;
  }
  .story {
    padding: 1em 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);

  }
  .story_title {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.5em;
  }
  .story_title a {
    color: #333;
    text-decoration: none;
  }
  .story_title a:hover, 
  .story_details a:hover {
    text-decoration: underline;
  }
  .story_details {
    font-size: 0.6rem;
    color: #666;
  }
  .story_details a {
    text-decoration: none;
    color: #666;
  }